<html>
<body>
    <div>
        <p style='color:black'>Hi</p><br>
        <p style='color:black'>You can verify your email address by entering the verification code below on the website.</p>
        <h2><strong><%= authCode %></strong></h2><br>
        <p style='color:black'>This code is valid for 30 minutes.</p><br>
        <p style='color:black'>Track-1.</p> <br>
    </div> 
    <br><br> 
    <div>
        <p style='color:black'>안녕하세요, Track-1입니다.</p><br>
        <p style='color:black'>웹사이트에서 위의 인증코드를 입력하셔서 이메일 인증을 받으실 수 있습니다.</p><br>
        <p style='color:black'>문의사항 발생 시 웹사이트 하단의 이메일로 연락주세요.</p><br>
        <p style='color:black'>감사합니다.</p><br>
    </div>
    <br><br> 
    <div>
        <p> <img src= '<%= image%>' width="500"/> </p> <br>
    </div>
</body>
</html>